@model Rsk.AspNetCore.Fido.Models.FidoRegistrationChallenge

<h2>Please use your authenticator</h2>

<script>
    // Challenge
    var challengeBytes = atob("@Html.Raw(Model.Base64Challenge)");
    var challengeNumbers = new Array(challengeBytes.length);
    for (var i = 0; i < challengeBytes.length; i++) {
        challengeNumbers[i] = challengeBytes.charCodeAt(i);
    }
    var challenge = new Uint8Array(challengeNumbers);

    // Relying party details
    var rp = {
        id: "@Model.RelyingPartyId",
        name: "RSK FIDO Quickstart - Core"
    };
        
    // User handle
    var user = {
        name: "@Model.UserId",
        displayName: "@Model.UserId",
        id: new TextEncoder("utf-8").encode("@Model.UserId")
    };

    // Request ES256 algorithm
    var pubKeyCredParams = [
        {
            type: "public-key",
            alg: -7
        }
    ];

    navigator.credentials.create({ publicKey: {challenge, rp, user, pubKeyCredParams} })
        .then((credentials) => {

            // base64 encode array buffers
            var encodedCredentials = {
                id: credentials.id,
                rawId: btoa(String.fromCharCode.apply(null, new Uint8Array(credentials.rawId))),
                type: credentials.type,
                response: {
                    attestationObject:
                        btoa(String.fromCharCode.apply(null, new Uint8Array(credentials.response.attestationObject))),
                    clientDataJSON:
                        btoa(String.fromCharCode.apply(null, new Uint8Array(credentials.response.clientDataJSON)))
                }
            };

            // post to register callback endpoint and redirect to homepage
            $.ajax({
                url: '/Home/RegisterCallback',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(encodedCredentials),
                success: function() {
                    window.location.href = "/";
                },
                error: function() {
                    console.error("Error from server...");
                }
            });
        })
        .catch((error) => {
            console.error(error);
        });
</script>